@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.seccion-video {
    display: flex;
    justify-content: center;
    padding: $padding-seccion;

    video {
        width: 100%;
        border-radius: $border-radius-card;
    }
}

.info-grid {
    display: grid;
    grid-template-areas:
        "envio"
        "pago"
        "seguridad";
    gap: 2rem;
    text-align: center;

    img {
        width: 48px;
        height: 48px;
        margin-bottom: 0.8rem;
    }

    h4 {
        margin-bottom: 0.5rem;
    }
}