@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

%btn-base {
    display: inline-block;
    border-radius: $border-radius-btn;
    font-family: $fuente-cuerpo;
    font-weight: $fw-semibold;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;

    &:hover {
        background-color: $color-primario;
        color: $color-fondo;
        transform: scale(1.05);
    }
}

.btn-ver-mas {
    @extend %btn-base;
    background-color: $color-secundario;
    color: $color-fondo;
    padding: 0.5rem 1.5rem;
    font-size: $fs-small;
}

.btn-consulta {
    @extend %btn-base;
    background-color: $color-secundario;
    color: $color-fondo;
    display: block;
    margin-top: 0.8rem;
    padding: 0.5rem 1.2rem;
    font-size: $fs-small;
}

.btn-instagram {
    @extend %btn-base;
    background-color: $color-secundario;
    color: $color-fondo;
    padding: 0.8rem 2rem;
}